:root {
  --darkBlue: #052837;
  --skyBlue: #c7f2f1;
  --white: #f4f9f8;

  --color3: var(--terracota);

  --background1: var(--skyBlue);
  --background2: var(--white);
  --colorButton: var(--darkBlue);
  --colorFont: var(--darkBlue);
  --colorFontInverted: var(--white);
}
